[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains Rider
Icon=/opt/rider/bin/rider.png
Exec="/opt/rider/bin/rider.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rider
